/*
Theme Name: 
Theme URI: 
Description: 
Author: factor1
Author URI: http://factor1studios.com/
Version:

*/


//import font
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);



//fonts
$open:			'Open Sans', 'Helvetica', sans-serif;

//colors
$red:			#CC0000;
$deepred: 	#660000;
$gold: 		#FFB300;
$green:		#0fb80f;


.toast {background: url(images/light_toast.png) repeat;}

.darkbar {
	background: #000; 
	color: #fff; 
	padding: 40px 0;
	h1 {color: #fff;}
	h3 {color: $red;}
	a {color: $red;
		&:hover {color: #fff; text-decoration: underline;}
	}
	}
	
.redbar {
	background: $deepred; 
	color: #000; 
	padding: 40px 0;
	h1 {color: #fff;}
	h3 {color: #000;}
	a {color: #000;
		&:hover {color: #fff; text-decoration: underline;}
	}
	}
	
.red{color: $red;}

/*------------------------------------*\
    Global Settings
\*------------------------------------*/



html, body {
border:0;
margin:0;
padding:0;
width: 100%;
height: 100%;
}

html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
font:100%/1.25 $open;
min-height: 100%;
 overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

/* Set box sizing to elimate math in the padding */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/***** Common Formatting *****/

h1, h2, h3, h4, h5, h6 {
margin:0;
padding:0;
font-weight:normal;
	a {color: $deepred;
		&:hover {color: $red}
	}
}

h1 {
padding:10px 0;
font:2em $open;
font-weight: 300;
text-transform: capitalize;
}

h2 {
padding: 5px 0;
font:1.5em $open;
font-weight: 300;
color: $red;
text-transform: capitalize;
}

h3 {
font:1.25em $open;
font-weight: 400;
text-transform: capitalize;
padding: 10px 0 25px 0; 
}

p, ul, ol {
margin:0;
padding:0 0 18px 0;
font-family: $open;
}

ul, ol {
list-style:none;
padding:0 0 18px 40px;
}

article ul,
article ol {margin: 0 0 10px 10px;}

article ul li {list-style: square; margin: 0 0 5px 5px; padding-left: 5px;}
article ol li {list-style: decimal; margin: 0 0 5px 5px; padding-left: 5px;}

[class*="block-grid-"]>li{ //fix margins on block grids inside of articles
margin: 0;
}
[class*="block-grid-"]{
margin: 0;
}

blockquote {
margin:22px 0px;
padding:0;
border: 0px;
color: #000;
}

cite {
	color: $deepred;
}

small {
font-size:0.85em;
}

img {
border:0;
}

sup {
position:relative;
bottom:0.3em;
vertical-align:baseline;
}

sub {
position:relative;
bottom:-0.2em;
vertical-align:baseline;
}

acronym, abbr {
cursor:help;
letter-spacing:1px;
border-bottom:1px dashed;
}

/***** Links *****/

a, a:visited {
text-decoration:none;
}

/***** Forms *****/

form {
margin:0;
padding:0;
display:inline;
}

input, select, textarea {
font:1em $open;
}

textarea {
line-height:1.25;
}

label {
cursor:pointer;
}

/***** Tables *****/

table {
border:0;
margin:0 0 18px 0;
padding:0;
}

	table tr td {
	padding:2px;
	}

/***** Fluid Iframes *****/

.fluidMedia {
    position: relative;
    padding-bottom: 52%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.big-video{
	.fluidMedia{
		padding-bottom: 53.25%;
	}
}
/***** Utility Classes *****/

.clear 			{ clear:both; }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.float-left 	{ float:left; }
.float-right 	{ float:right; }


.img-left, .align-left 			{ float:left;margin:4px 10px 4px 0; }
.img-right, .align-right 		{ float:right;margin:4px 0 4px 10px; }



/*------------------------------------*\
    HEADER
\*------------------------------------*/

header{
	margin: 0 0 25px;
	padding: 25px;
	background: black;
	border-bottom: 5px solid #333;

	
	.affiliaterow {
		position: relative;
		display: block;
		min-height: 120px;
		max-height: 250px;

	
	.columns {
				position: absolute;
				top: 50%;
				 transform: translateY(-50%);
				 -webkit-transform: translateY(-50%);
				 -ms-transform: translateY(-50%);
		
		}
		
		.affiliatelogo {
			position: relative;
			left: 90%;
			padding: 10px;}
			
	}
}




/* tablet */
@media screen and (max-width: 768px) {
	header {
	
	.affiliaterow {
		position: relative; 
		height: auto;
		
		
			.columns {
				position: relative;
				top: auto;
				transform: none;
				-webkit-transform: none;
				-ms-transform: none;
			}
			
			.affiliatelogo {
				left: auto;
			}
			}
		
	}	
}


/*------------------------------------*\
    HOME
\*------------------------------------*/
.big-video{
	margin: 20px auto 40px;
}

.home{
	.inside-the-program{
		margin-bottom: 0 !important;
	}
}
/*------------------------------------*\
    PAGES
\*------------------------------------*/

// Home Top

.home-top {
	background: #ddcbb7 url(images/new-meditation2.jpg) no-repeat  center;
	background-size: cover;
	margin-top: -25px;
	padding-top: 35px;
	
	h1 {
		color: #111;
		font-weight: 500;
	}
	
	h1 span {
		color: $red;
		background: rgba(255, 230, 0, 0.78);
		font-weight: 500;
		padding: 0 8px;
	}
}

.home-top.versionb {
	background: none;
	
	h1 span {
		color: $red;
		background: none;
		}	
}



//video container
.video-container{
	//overflow: hidden;
	margin: 60px auto;
}

.mobile-header{
width: 100%;
background: black;
color: white;
text-align: left;
padding: 8px 10px;
}
.video-container-2, .video-container-3, .video-container-4{
	display: none;
}

@media screen and (max-width: 40em){
	.video-container-2, .video-container-3, .video-container-4{
	display: block;
	}
}

//as seen on tv section
.as-seen-on{
background: url(images/light_toast.png) left top repeat;
	p{
	font: 28px $open;
	font-weight: 100;
	padding: 18px 0;
	vertical-align: bottom;
		img{
		vertical-align: bottom;
		}
	}
}

//video selection section
.video-selection{
	background: #F3F3F3;
	padding: 30px 0 10px;
	position: relative;
	display: block;
	.videobreak {
		background: #000;
		color: #fff;
		font-family: $open;
		text-align: center;
		padding: 20px 5px;
		margin: -30px 0 30px
	}
}
.video-select-1, .video-select-2, .video-select-3, .video-select-4{
	position: relative;
	&:after{
		display: block;
	    content: '';
	    width: 88%;
	    height: 100%;
	    background: none;
	    cursor: pointer;
	    position: absolute;
	    top: 0;
	    left: 15px;
	    z-index: 99;
	}
}

//cta styles
.cta, .email-signup{
	background: black;
	padding: 25px 0;
	p{
		color: white;
		font: 1.5em $open;
		font-weight: 300;
		span{
			color: $red;
		}
		&.cta_headline {
			padding-top: 50px;
		}
	}
	h1, h2, h3, h4{
		color: $red;
		font: 1.765em $open;
		font-weight: 300;
	}
}

.cta{
	//margin-bottom: 60px;
}

p.dvd-addon  {
		text-align: center !important;
		font-size: 15px !important;
		padding: 10px 0;
		display: block;
		
		a {
			display: block;
			width: 100%;
			height: 100;
			padding: 5px;
			color: $deepred;
			background: #eee;
			 -webkit-border-radius: 5px;
			 -moz-border-radius: 5px;
			 border-radius: 5px;
			 -webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
			 }
			
		a:hover {
			background: $green;
			color: #fff;}
		
		}


// AltColor
.alt-color .cta {
	background: #fff;
	padding: 25px 0;
	p{
		color: #000;
		font: 1.5em $open;
		font-weight: 300;
		span{
			color: $red;
		}
		&.cta_headline {
			padding-top: 50px;
		}
	}
	h1, h2, h3, h4{
		color: $red;
		font: 1.765em $open;
		font-weight: 300;
	}
}

//redbox styles
.redBoxContent{
	background: $gold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    max-width: 100%;
	position: relative;
	left: 0;
	padding: 16px 20px;
	.wootitle{
		font-size: 17px !important;
		color: #000 !important;
		font-weight: normal;
	}
	.woobottom{
		margin: 0;
		padding: 0;
		
		.fa {
			font-size: 28px;
			position: relative;
			top: -5px;
			float: right;
		}
	}
}
.redBoxContent .woocommerce p{
	font-size: 14px;
	color: #000;
	font-weight: 600;
}
.redBoxContent .woocommerce .star-rating{
	display: inline-block;
    overflow: hidden;
    line-height: 21px;
    height: 21px;
    float: left;
    font-size: 16px;
    width: 5.4em;
    font-family: star;
    margin-bottom: 10px;
}
.redBoxContent .woocommerce .count {
    display: inline-block;
    margin-left: 5px;
    line-height: 21px;
    height: 21px;
    color: #fff;
    margin-bottom: 10px;
}
.redBoxContent .woocommerce .price {
    display: block;
    color: #000 !important;
    font-size: 16px;
}
.amount{
	color: #fff !important;
}
.greyLinkBtn {
    background: $green;
    background-position: right center;
    padding: 9px 40px 9px 10px;
    border-radius: 5px;
    color: #fff;;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    border: none !important;
    margin-top: 0;
    margin-bottom: 10px;
    -webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
    &:hover{
	    background: #fff;;
	    color: #111;
    }
}

// Product Buy
.product-buy {
	margin: 100px 0;
}

 // 7 day trial CTA push

.sevenday_trial_cta {
	background: #000;
	padding: 25px 0;
	
	.bigButton {
		background: $green;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding: 10px;
		display: block;
		text-align: center;
		
		h4{
			padding: 5px 0 10px;}
		
		&:hover {
			background: #fff; 
			p{color: $red;}
			h4{color: #000;}
			}
	}
	
	p{
		color: white;
		font: 1.0em $open;
		font-weight: 500;
		span{
			color: $red;
		}
		&.cta_headline {
			padding-top: 50px;
		}
	}
	h1, h2, h3, h4{
		color: #fff;
		font: 1.765em $open;
		line-height: 1.1em;
		font-weight: 300;
	}

	
	
}



//movement training section
.movement-training{
background: url(images/mt-bg.jpg) center -203px no-repeat;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
-o-background-size: cover;
width: 100%;
min-height: 1070px;
padding: 605px 0 40px !important;
	.meditate-title{
	font-size: 37px;
	}
	h3{
	font: 26px $open;
	color: $red;
	font-weight: 100;
	}
	.movement-list{
		ul{
		padding: 0;
		margin: 20px 0 0 15px;
			li{
			list-style: disc;
			padding-bottom: 24px;
			}
		}
	}
}


//MENTAL TRAINING SECTION
.mental-training{
background: #660000 url(images/mental-training.jpg) right center no-repeat;
min-height: 750px;
padding: 110px 0;
	h1{
	font: 48px $open;
	font-weight: 100;
	color: white;
	}
	h3{
	font: 25px $open;
	font-weight: 100;
	color: #FFB700;
	}
	ul{
	padding: 0;
	margin: 0 0 0 15px;
		li{
		color: white;
		list-style: disc;
		padding-bottom: 25px;
		}
	}
}


//image grids

.gridintro {
	padding: 50px auto;
	margin: 0 auto 80px;
}


.image-grid{
	padding: 60px auto;
	margin-bottom: 60px;
	
	ul li {
		margin: 0; padding: 0;
	}
	
}
.image-grid-container{
	width: 100%;
	padding: 0;
	height: 255px;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	position: relative;
	display: block;
	margin: 0 auto;
	.grid-title{
		top: 210px;
		position: relative;
		font-weight: 600;
		color: #fff;
		text-shadow: 0px 0px 4px black
	}
	&:hover {
		-webkit-filter: grayscale(90%);
		-moz-filter: grayscale(90%);
		filter: grayscale(90%);
	}
	&:focus {
		-webkit-filter: grayscale(90%);
		-moz-filter: grayscale(90%);
		filter: grayscale(90%);
	}
}
.box-overlay{
	background: rgba(10, 10, 10, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	text-shadow: 0px 0px 4px #333;
	height: 100%;
	opacity: 0;
	transition: all .4s ease-in;
	-webkit-transition: all .4s ease-in;
	-moz-transition: all .4s ease-in;
	z-index: 99;
	cursor: pointer;
	padding-top: 50px;
	&:hover{
		opacity: 1;
		transition: all .4s ease-in;
		-webkit-transition: all .4s ease-in;
		-moz-transition: all .4s ease-in;
	}
	&:focus{
		opacity: 1;
		transition: all .4s ease-in;
		-webkit-transition: all .4s ease-in;
		-moz-transition: all .4s ease-in;
	}
	p {
		font-size: 15px;
		line-height: 1.25;
		padding: 0px 5%;}
}






//whats inside
.inside-the-program{
	background: #660000;
	padding: 40px 0;
	margin: 40px 0 0;
	p{
		color: white;
	}
	h1,h2,h3,h4{
		color: white;
	}
	
	ul {
		margin: 0; 
		padding: 0 0 0 10px;
		
		li {
			margin: 0;
			list-style: none;
			color: #fff;
			
			i.fa {
				color: $gold;
				padding-right: 10px;}
				}
		}
	
	
}



/* tablet */

@media screen and (max-width: 768px) {
	.inside-the-program {
		li {font-size: 0.75em;}
		}
	}

//message from section
.message-from{
	padding-top: 30px;
	.medium-10{
		h1{
			padding-bottom: 40px;
		}
	}
}




// Testimonials
.testimonials {
	// margin: 100px 0;
	padding: 50px 0;
	
	.single {
		margin-bottom: 50px;
		img {
			margin-top: 10px;
			border-radius: 50%;
			}
			
			}
	
	
}


/*------------------------------------*\
    Hightlighted Text
\*------------------------------------*/

.image-row{
	text-align: center;
}

.highlight{
	padding: 10px;
	text-align: center;

	// Text
	.highlight-text{
	font-size: 1.25em;
	font-weight: 700;
	color: #660000;
	}
}


/*------------------------------------*\
    Fun, Easy And Convenient
\*------------------------------------*/

.home-bg{
	background: #000 url(http://gettathata.com/wp-content/uploads/2015/08/Tathata-Home-Horizontal.png) right center no-repeat;
	color: #fff;
	padding: 40px 0;
	
	.darkbar h1 {
	    color: #fff; }
		
	.darkbar h3 {
	    color: #CC0000; }
}


@media screen and (max-width: 1100px) {
	.home-bg{ 
		background: #000 url(http://gettathata.com/wp-content/uploads/2015/08/Tathata-Home-HorizontalWide.png) left top no-repeat !important;
	}
}


@media screen and (max-width: 768px) {
	.home-bg{ 
		background: #000 url(http://gettathata.com/wp-content/uploads/2015/08/Tathata-Home-Vertical.png) center top no-repeat !important;
		
		h1{
			margin: 270px 0 0 0;
		}
	}
}


/*------------------------------------*\
    Movement Training
\*------------------------------------*/

.img-padding{
	padding: 40px 0 0 0;
}


/*------------------------------------*\
    Mental Training
\*------------------------------------*/

.meditate{
	background: #fff url(http://gettathata.com/wp-content/uploads/2015/08/MentalTrainingWide-Iso.png) center bottom no-repeat;
	padding:0 !important;
	
	.row{
		padding: 20px 15px;
	}
	
	.meditate-title{
		padding: 40px 0 10px 0;
	}
	
	.highlight{
	margin: 0 0 400px 0;
	text-align: center;
	}
}

@media screen and (max-width: 700px) {
	.meditate{ 
		background: #fff url(http://gettathata.com/wp-content/uploads/2015/08/MentalTrainingWide-Iso.png) center bottom no-repeat;
		background-size: contain !important;
	
		.highlight{
		margin: 0 0 100px 0;}
	}	
}


/*------------------------------------*\
    Learning and Training Curriculum
\*------------------------------------*/

.curriculum{
	padding: 0 0 40px 0;
}


/*------------------------------------*\
    Forms
\*------------------------------------*/

input[type=email]{
	border: none;
	display: block;
	position: relative;
	outline: none;
	box-shadow: none;
	height: 3.25em;
	margin: 0;
	font-size: 16px;
}
input[type=submit]{
	border: 2px solid #27b810;
	border-radius: 8px;
	background: #27b810;
	color: white;
	font: 16px $open;
	font-weight: 600;
	text-align: center;
	padding: 10px 30px 10px;
	transition: all .4s ease;
	&:hover{
		background: none;
	}
}

.gform_footer {
		input[type=submit]{
		border: 2px solid #27b810;
		border-radius: 8px;
		background: #27b810;
		color: white;
		font: 16px $open;
		font-weight: 600;
		text-align: center;
		padding: 10px 30px 10px;
		transition: all .4s ease;
		&:hover{
			background: #1d7b0f;
		}
	}
}

// Remodal forms 
.remodal-close:hover {background: $deepred;}

.remodal{
overflow: scroll !important;
}
/*------------------------------------*\
    Interor video pages
\*------------------------------------*/


.subpage {
	
	section {padding: 50px 15px;}
	
	h1 span {
		color: $red;
		background: rgba(255, 230, 0, 0.78);
		font-weight: 500;
		padding: 0 8px;
	}
}




// Affiliate Welcome
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=email], .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=number], .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=password], .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=tel], .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=text], .gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=url], .gform_wrapper .ginput_complex input[type=email], .gform_wrapper .ginput_complex input[type=number], .gform_wrapper .ginput_complex input[type=password], .gform_wrapper .ginput_complex input[type=tel], .gform_wrapper .ginput_complex input[type=text], .gform_wrapper .ginput_complex input[type=url] {margin-bottom: 5px;}


/*------------------------------------*\
    SLIDER STYLES
\*------------------------------------*/
.tp-caption{
top: 54px !important;
left: 90px !important;
margin: 52.2083px 0px 0px 258.058px !important;
}
.tp-caption.small_light_white {
    font-size: 24px!important;
    line-height: 32px!important;
    font-weight: 300;
    font-family: OpenSansLight;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
    background-color: transparent;
    padding: 0;
    border-width: 0;
    border-color: #ffd658;
    border-style: none;
}

.banner-content-align p, .banner-content-align p span.red-light {
    font-size: 24px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 33px !important;
}
.red-light{
	color: #c00;
}

.banner-content-align h2, .banner-content-align h2 span.red-light {
    font-size: 35px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 50px !important;
}

.homeslider_btn {
    color: #CCC!important;
    padding: 8px 28px 8px 15px;
    background: black url(images/LinkBtnBg.png) right 10px center no-repeat;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    font-size: 12px;
    font-family: Arial;
}
.darkBtn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 8px 27px 8px 15px !important;
    font-size: 12px !important;
}
.btn4 {
    margin-top: 5% !important;
}

.banner-content-align h6 i {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 33px !important;
    font-size: 24px !important;
    color: white;
}
/*------------------------------------*\
    FOOTER
\*------------------------------------*/

footer{
	padding: 0px 0 20px;
	background: black;
	margin-top: 60px;
	
	h3{
		color: #fff;
		padding: 20px 0 10px;
		font-size: 18px;
		}
	p{
		color: white;
		a, a:visited {color: $red;}
	}
	
	ul#menu-quick-links {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			width: 32%;
			a {
				font-size: 14px;
				padding: 5px 10px;
				display: block;
				color: #fff;}
		}
	}
	
	.footer-copyright p {
		font-size: 11px;
	}
	
}

footer{
background: #131313;
padding: 0;
margin: 0;
display: block;
position: relative;
	.row{
		.medium-4{
			h3{
			font-size: 12px;
		    line-height: normal;
		    color: #ccc;
		    margin: 10px 0 0;
		    font-weight: 400;
		    text-transform: uppercase;
			}
			div{
			min-height: 157px;
			}	
		}
		.medium-4:nth-child(1){
			div{
			border-right: 1px solid #2d2d2d;
			overflow: hidden;
			}
			ul{
			margin: 0;
			padding: 0;
				li{
				float: left;
				width: 50%;
				display: block;
				color: #ccc;
					a{
					font-size: 10px;
				    line-height: 34px;
				    padding: 0;
				    display: block;
				    color: #fff;
				    font-weight: 400;
				    text-transform: uppercase;
					}
				}
			}//end ul
		}//end first medium-4
		.shareUs{
			h3{
			padding-left: 30px;
			}
			p{
			font-size:10px;
		    line-height:34px;
		    color:#fff;
		    font-weight:normal;
		    text-transform:uppercase;
		    margin:0;
		    	span{
				margin-right:12px
				}
				a{
			    margin:0 7px;
			    display:inline-block;
			    height:20px;
			    width:20px;
			    background:url(images/sprite.png) no-repeat; 
				}
				a:first-child{
				margin-left:0;
				}
				a.icon-share{background-position:-150px 0px;}
				a.icon-share:hover{background-position:-150px -20px;}
				a.icon-mail{background-position:-170px 0px;}
				a.icon-mail:hover{background-position:-170px -20px;}
				a.icon-fb{background-position:-190px 0px;}
				a.icon-fb:hover{background-position:-190px -20px;}
				a.icon-gP{background-position:-210px 0px;}
				a.icon-gP:hover{background-position:-210px -20px;}
				a.icon-tw{background-position:-230px 0px;}
				a.icon-tw:hover{background-position:-230px -20px;}
				a.icon-in{background-position:-250px 0px;}
				a.icon-in:hover{background-position:-250px -20px;}
				a.icon-pin{background-position:-270px 0px;}
				a.icon-pin:hover{background-position:-270px -20px;}
				a.icon-vi{background-position:-290px 0px;}
				a.icon-vi:hover{background-position:-290px -20px;}
				a.icon-yt{background-position:-310px 0px;}
				a.icon-yt:hover{background-position:-310px -20px;}
			}
			div{
			border-left: 1px solid #2d2d2d;
			padding-left: 30px;
			}
			div > p:first-child {
			margin-bottom: 0;
			}
			.at4-icon.aticon-addthis, .at4-icon.aticon-compact, .at4-icon.aticon-expanded, .at4-icon.aticon-more{
			background: transparent !important;
			}
		}
	}
	//footer copyright section
	.footer-copyright{
	background: black;
	width: 100%;
	display: block;
	height: auto;
	padding: 16px 0;
		p{
		font-family: Arial;
		font-size: 10px;
		line-height: 16px;
		padding-bottom: 0;
		margin-bottom: 0;
			img{
			margin-right: 8px;
			}
			a:hover{
			color: white;
			}
		}
	}
}



/*------------------------------------*\
    PRINT STYLES  (I know right?! lol!)
\*------------------------------------*/

.show-for-print {display: none;}



/*------------------------------------*\
    MEDIA QUERIES
\*------------------------------------*/
@media screen and (max-width: 1024px){
	//slider styles
	.tp-simpleresponsive .tp-caption {
	top: 0 !important;
	left: 10px !important;	
	}
	.banner-content-align p, .banner-content-align p span.red-light {
	    font-size: 16px !important;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 300;
	    line-height: 22px !important;
	}
	.banner-content-align h6 i {
	    line-height: 25px !important;
	    font-size: 18px !important;
	}
	.banner-content-align h2, .banner-content-align h2 span.red-light {
	    font-size: 20px !important;
	    line-height: 28px !important;
	}
	.home .testimonialTypeText p span, .home .testimonialTypeText p span i {
   	 font-size: 12px !important;
	}
	.small{
	font-size: 12px !important;
		i{
		font-size: 12px !important;
		}
	}
}
@media screen and (max-width: 40em){
	.mental-training {
    background: #600 url(images/mental-training.jpg) top right no-repeat;
    min-height: 750px;
    padding: 616px 0 110px;
    background-size: 170%;
    }
    .movement-training {
    background: url(images/mt-bg.jpg) center 0 no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    min-height: 1070px;
    padding: 252px 0 40px !important;
    background-size: 136%;
	}
	
	//slider styles
	.forcefullwidth_wrapper_tp_banner {
   	height: 280px !important;
	}
	.fullwidthbanner-container, .fullwidthbanner-container .fullwidthabanner {
    height: 280px!important;
	}
	.tp-simpleresponsive .tp-caption {
	    left: 0px !important;
	    top: 40px!important;
	    //margin: 14.5833px 0px 0px 72.0833px !important;
	    margin-left: 0!important;
	    width: 100%;
	    margin: 0 auto !important;
	    padding: 0 10%;
	}
	.banner-content-align h2, .banner-content-align h2 span.red-light {
	    font-size: 22px !important;
	    margin-bottom: 10px!important;
	}
	.home .testimonialTypeText p span, .home .testimonialTypeText p span i {
    font-size: 9px !important;
	}
	.banner-content-align p, .banner-content-align p span.red-light {
	    font-size: 16px !important;
	    line-height: 22px !important;
	}
	.banner-content-align h6 i {
	    line-height: 13px !important;
	    font-size: 13px !important;
	    max-width: 100%;
	}
	.home .testimonialTypeText p span, .home .testimonialTypeText p span i{
	font-size: 9px !important;
	}
	.tparrows{
	display: none;
	}
	.slide5{
	margin-top: 50px !important;
	}
	
	/* NEW FOOTER STYLES*/
	footer{
		.row{
			.medium-4{
				div{
				border: none !important;
				}
				h3{
				border-bottom: 1px dashed #666;
				margin-bottom: 8px;
				padding-bottom: 2px;
				}
			}
			.shareUs{
				div{
				padding-left: 0;
				}
				h3{
				padding-left: 0;
				}
			}
		}
	}
}