/*------------------------------------*\
    PRINT STYLES  (I know right?!)
\*------------------------------------*/

.show-for-print {display: block;}
.hide-from-print {display: none;}


body {
	margin: 100px auto 150px;
	width: 85%;
	font-size: 12px;
	}
	
h1, h2, h3, h4 {
	margin: 10px 0; 
	padding: 0;
}	


p, li, li p {font-size: 12px;}
